@model IEnumerable<CarRental3.Models.Car>

@{
    ViewData["Title"] = "Available Cars";
    var userId = Context.Session.GetInt32("UserId");
}

<h1>Available Cars</h1>

<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
            <th>Cost per Day</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>
                    <img src="@car.ImageUrl" alt="Car Image" style="width: 100px; height: auto;" />
                </td>
                <td>@car.Brand</td>
                <td>@car.Model</td>
                <td>@car.YearModel</td>
                <td>@car.CostPerDay kr</td>
                <td>
                    <a asp-controller="Auth" asp-action="LoginOrRegister" asp-route-carId="@car.CarId" class="btn btn-primary">Boka</a>
                </td>
            </tr>
        }
    </tbody>
</table>
