@model CarRental3.ViewModels.BookingViewModel

@{
    ViewData["Title"] = "Booking List";
}

<h1>Booking List</h1>

<p>
    <a asp-action="Create">Create New Booking</a>
</p>

<h2>Bokningar</h2>
<table class="table">
    <thead>
        <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Car</th>
            <th>User</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model.Bookings)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => booking.StartDate)</td>
                <td>@Html.DisplayFor(modelItem => booking.EndDate)</td>
                <td>@booking.Car.Brand @booking.Car.Model</td>
                <td>@booking.User.UserName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@booking.BookingId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@booking.BookingId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@booking.BookingId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
